* {
	padding: 0;
	margin: 0;
}


#counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 300px;
	background-color: rgb(224, 224, 224);

}

#countNum {
	font-size: 50px;
	color: rgb(0, 204, 0);
}



button {
	height: 30px;
	width: 90px;
	border-radius: 5px;
}

button:hover {
	border: 2px solid rgb(0, 0, 255);
}